{% load static %}

{% block content %}

<!-- breadcrumbs section start here  -->

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="overlay-2"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">About Us</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- breadcrumbs section end here -->



<!-- About Farmland Section start here -->

  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-about img">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-12 about-intro">
          <div class="row d-flex">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="img d-flex align-items-center align-self-stretch justify-content-center" style="background-image:url({% static 'images/about-1.jpg' %});">
                <div class="year-stablish text-center">
                  <div class="icon2"><span class="flaticon-calendar"></span></div>
                  <div class="text">
                    <strong class="number" data-number="42">0</strong>
                    <span>Year Of<br> Experienced</span>
                  </div>
                </div>
                <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url({% static 'images/about-2.jpg' %});">
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
              <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                  <span class="subheading">About Farmland</span>
                  <h2 class="mb-4">We're Leader In Agricultural Market</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  <div class="row my-4">
                    <div class="col-md-6 ftco-animate">
                      <div class="services-2 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-agriculture"></span></div>
                        <div class="media-body">
                          <h3 class="heading">Growing Fruits<br> and Vegetables</h3>
                        </div>
                      </div>    
                    </div>
                    <div class="col-md-6 ftco-animate">
                      <div class="services-2 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-agriculture-2"></span></div>
                        <div class="media-body">
                          <h3 class="heading">Tips for Ripening<br> Fruits</h3>
                        </div>
                      </div>    
                    </div>
                  </div>
                  <p><a href="#" class="btn btn-secondary">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
          <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-agriculture-1"></span></div>
            <div class="text pl-3">
              <strong class="number" data-number="4800">0</strong>
              <span>Project Completed</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
          <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-agriculture"></span></div>
            <div class="text pl-3">
              <strong class="number" data-number="14000">0</strong>
              <span>Total Products</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
          <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-agriculture-2"></span></div>
            <div class="text pl-3">
              <strong class="number" data-number="200">0</strong>
              <span>Services Provide</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex counter-wrap ftco-animate">
          <div class="block-18 mb-xl-0 mb-2 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-approve"></span></div>
            <div class="text pl-3">
              <strong class="number" data-number="71650">0</strong>
              <span>Satisfied Customers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="video-image img" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay-2"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center align-items-center wrap-video">
        <div class="col-md-6 text-center">
          <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
            <span class="fa fa-play"></span>
          </a>
          <h3>Watch Modern Agricultural Farming</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- About Farmland section end here -->


<!-- Testimonial section start here -->
  {% include 'farmland_app/inner-testimonial.html'%}

  <!-- Testinomial section end here -->

<!-- inner services section start here -->

  <hr style="margin: 0;">
  {% include 'farmland_app/requestestimate.html'%} 

  <!-- inner services section end here -->

<!-- News Letter section start here -->
  {% include 'farmland_app/inner-news-letter.html'%}

  <!-- New Letter Section end here -->


  



{% endblock%}