{% load static %}

<section class="ftco-section ftco-faqs services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 mb-5 md-md-0 heading-section">
                <span class="subheading">Request Quote</span>
                
                <h2 class="mb-5">Request An Estimate</h2>
                <form  method="post" id="estimate_form" class="appointment-form ftco-animate">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone_number"  id="phone_number" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                    <select name="service" id="service" class="form-control">
                                        <option value="">Select Your Services</option>
                                        {% for data in services_type %}
                                        <option value="{{data.id}}">{{data.service_name}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <textarea name="massage" id="massage" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}" ></script>

<script type="text/javascript">
    $(document).on('submit','#estimate_form', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/services/',
            data : {
                first_name:$('#first_name').val(),
                last_name:$('#last_name').val(),
                phone_number:$('#phone_number').val(),
                service:$('#service').val(),
                massage:$('#massage').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success:function(){
                alert("created Data");
            }
        });
    });

</script>


            <div class="col-lg-6 heading-section pl-lg-5 ftco-animate">
                <div class="w-100 mb-4 mb-md-0">
                    <span class="subheading">Freequesntly Ask Question</span>
                    <h2 class="mb-5">Frequently Ask Question</h2>
                    <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                        {% for data in question %}
                        <div class="card">
                            <div class="card-header p-0" id="headingOne">
                                <h2 class="mb-0">
                                    <button href="#navcollapseOne{{data.id}}" class="d-flex align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <p class="mb-0" value="{{data.id}}">
                                                {{data.question}}
                                                
                                        </p>
                                        
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse show" id="navcollapseOne{{data.id}}" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body py-3 px-0">
                                    
                                    
                                    <ol>
                                        {% for item in data.questionby.all %}
                                        
                                        <li>{{item.answer}}</li>
                                        
                                        {% endfor %}
                                    </ol>   
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="card">
                            <div class="card-header p-0" id="headingFour" role="tab">
                                <h2 class="mb-0">
                                    <button href="#collapseFour" class="d-flex align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                        <p class="mb-0">What are those requirements for businesses?</p>
                                        <i class="fa" aria-hidden="true"></i>
                                    </button>
                                </h2>
                            </div>
                            <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body py-3 px-0">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
